@model IEnumerable<RestoWebApp.Models.OwnerDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post" action="">
    <label for="RestaurantName">Restaurant Name</label>
    <input type="text" name="RestaurantName" />
    <label for="RestaurantAddress">Restaurant Address</label>
    <input type="text" name="RestaurantAddress" />
    <label for="RestaurantPhone">Restaurant Phone</label>
    <input type="text" name="RestaurantPhone" />
    <label for="OwnerID">Owner</label>
    <select name="OwnerID">
        @foreach (var Owner in Model)
        {
            <option value="@Owner.OwnerID">@Owner.OwnerFirstName @Owner.OwnerLastName</option>
        }
    </select>
    <input type="submit" value="Create new item" />
</form>


<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
