@model RestoWebApp.Models.ViewModels.UpdateRestaurant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="">
    <input type="hidden" name="RestaurantID" value="@Model.Restaurant.RestaurantID" />
    <div class="form-horizontal">
        <div class="form-group">
            <label for="RestaurantName" class="control-label col-md-2">Restaurant Name</label>
            <div class="col-md-10">
                <input type="text" name="RestaurantName" class="form-control text-box single-line" value="@Model.Restaurant.RestaurantName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="RestaurantAddress" class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                <input type="text" name="RestaurantAddress" class="form-control text-box single-line" value="@Model.Restaurant.RestaurantAddress"/>
            </div>
        </div>
        <div class="form-group">
            <label for="RestaurantPhone" class="control-label col-md-2">Phone Number</label>
            <div class="col-md-10">
                <input type="text" name="RestaurantPhone" class="form-control text-box single-line" value="@Model.Restaurant.RestaurantPhone"/>
            </div>
        </div>
        <div class="form-group">
            <label for="RestaurantCategoryID" class="control-label col-md-2">Category</label>
            <div class="col-md-10">
                <select name="RestaurantCategoryID" class="form-control">
                    @foreach (var Category in Model.RestaurantCategoryList)
                    {
                        <option value="@Category.RestaurantCategoryID" @((Category.RestaurantCategoryID == Model.Restaurant.RestaurantCategory.RestaurantCategoryID)?"selected":"")>@Category.RestaurantCategoryDesc</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update restaurant" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
