@model RestoWebApp.Models.ViewModels.UpdateFoodItem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="">
    <input type="hidden" name="FoodItemID" value="@Model.FoodItem.FoodItemID" />
    <label for="FoodItemName">Name</label>
    <input type="text" name="FoodItemName" value="@Model.FoodItem.FoodItemName" />
    <label for="FoodItemDesc">Description</label>
    <input type="text" name="FoodItemDesc" value="@Model.FoodItem.FoodItemDesc" />
    <label for="FoodItemPrice">Price</label>
    <input type="text" name="FoodItemPrice" value="@Model.FoodItem.FoodItemPrice" />
    <label for="RestaurantID">Restaurant</label>
    <select name="RestaurantID">
        @foreach (var Restaurant in Model.Restaurants)
        {
            <option value="@Restaurant.RestaurantID">@Restaurant.RestaurantName</option>
        }
    </select>
    <input type="submit" value="Create new item" />
</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
